body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(rgb(23, 24, 24), rgb(233, 229, 16) );
    padding: 40px;
    margin-bottom: 25px;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(189, 166, 16), black);
    font-size: 20px;
    padding: 17px;
    border-radius: 10px;
}

nav a{
    background-image: linear-gradient(rgb(176, 179, 0),black);
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 15px;
    margin-left: 10px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(216, 204, 94);
    text-shadow: 10px 10px 10px grey;
}

p {
    font-size: 20px;
    color: rgb(204, 190, 32);
    background-color: black;
    padding: 15px;
    border-radius: 15px;
}

footer a{
    margin-left: 30px;
}

.link-text {
    text-decoration: none;
    color: blue;
}

footer {
    background-image: linear-gradient(rgb(226, 230, 22), black);
    padding: 20px;
}

ol {
    font-size: 20px;
    color: yellow;
    background-color: black;
    border-radius: 15px;
}

ol:hover {
    color: black;
    background-color: yellow;
    transition: all 1s linear;
}
